/* タブレット向けレイアウト */

/* ブレイクポイントが1000px以下の時のメディアクエリを設定してください*/
@media (max-width: 1000px) {
  /* lessonクラスのwidthを50%に変更し、margin-bottom: 50px;を追加してください */
  .lesson {
    width: 50%;
    margin-bottom: 50px;
  }
  
  /* 「.top-wrapper h1」のfont-sizeを32pxに指定 */
  .top-wrapper h1 {
    font-size: 32px;
  }
  
  /* 「.heading h2」のfont-sizeを20pxに指定 */
  .heading h2 {
    font-size: 20px;
  }
  

}

@media (max-width: 670px ) {
  /* 「.lesson」要素のwidthを100%に指定してください */
  .lesson {
    width: 100%;
  }
  
  /* footer要素の中身を中央寄せにしてください。 */
  footer {
    text-align: center;
  }
  
  /* btnクラスのwidthを100%に指定してください */
  .btn {
    width: 100%;
  }

  /* facebookボタンにmargin-bottom: 10px;を追加してください */
  .facebook {
    margin-bottom: 10px;
  }

  /* top-wrapperクラスの中身を左寄せに、padding-topを130pxに指定してください */
  .top-wrapper {
    text-align: left;
    padding-top: 130px;
  }

    /* header-rightクラスのdisplayをnoneに指定してください */
  .header-right {
    display: none;
  }
  
  /* menu-iconクラスのdisplayをblockに指定してください  */
  .menu-icon {
    display: block;
  }

  /* 「.top-wrapper h1」のfont-sizeを24pxに指定 */
  .top-wrapper  h1{
    font-size: 24px;
  }  
  
  /* 「.top-wrapper p」のfont-sizeを14pxに指定 */
  .top-wrapper  p{
    font-size: 14px;
  }
  

}